*
{ 
margin:10px;
padding:10px;
}
body
{
background-color:yellow;
}
header
{
background-color:pink;
}
nav
{
height:70px;
background-color:red;
}
section
{
height:250px;
width:65%;
background-color:skyblue;
float:left;
}
aside
{
height:250px;
background-color:white;	
text-align:center;
width:25%;
float:right;
}
footer
{
height:70px;
width:96.5%;
background-color:green;
float:left;
}