*{
	margin: 4px;
	padding: 4px;
}
body
{background-color: #D6EAF8;
font-family: arial;
}
h1
{color: blue;
text-align: center;
background-color: #EC7063 ;
}
p 
{background-color: #F9E79F;
}
img 
{
	height: 100%;
	width: 50%;
}